<!-- Generic selectable list for teams or groups -->
<div class="selectable-list">
  <button (click)="addItem.emit()" *ngIf="editMode">{{ addLabel }} {{ typeLabel }}</button>
  <ul>
    <li *ngFor="let item of items"
        [class.selected]="item.id === selectedItemId"
        [class.highlighted]="highlightedItemIds.includes(item.id)"
        (click)="itemSelected.emit(item.id)">
      <span *ngIf="editMode && editingId === item.id">
        <input [(ngModel)]="editingName" (keydown.enter)="saveEdit(item)" (blur)="saveEdit(item)" />
      </span>
      <span *ngIf="!editMode || editingId !== item.id">{{ item.name }}</span>
      <span *ngIf="editMode">
        <button mat-icon-button color="primary" (click)="$event.stopPropagation(); startEdit(item)" title="Rename">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem.emit(item.id)" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </li>
  </ul>
</div>
