<!-- Generic selectable list for teams or groups -->
<div class="selectable-list">
  <button (click)="addItem.emit()" *ngIf="editMode">{{ addLabel }} {{ typeLabel }}</button>
  <ul>
    <li *ngFor="let name of items"
        [class.selected]="name === selectedItemId"
        [class.highlighted]="highlightedItemIds.includes(name)"
        (click)="itemSelected.emit(name)">
      <span *ngIf="editMode && editingId === name">
        <input [(ngModel)]="editingName" (keydown.enter)="saveEdit(name)" (blur)="saveEdit(name)" />
      </span>
      <span *ngIf="!editMode || editingId !== name">{{ name }}</span>
      <span *ngIf="editMode">
        <button mat-icon-button (click)="$event.stopPropagation(); startEdit(name)" title="Rename">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="$event.stopPropagation(); deleteItem.emit(name)" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </li>
  </ul>
</div>
