<div id="team-section" (click)="onEditorBackgroundClick()">
  <!-- <h2>Old List</h2>
  <div class="team-list">
    <ul>
      <li *ngFor="let team of teams">{{ team }}</li>
    </ul>
  </div> -->
  <h2>New Team list</h2>
  <teams-groups-editor
    [teams]="teams"
    [teamGroups]="teamGroups"
    [highlightedTeams]="highlightedTeams"
    [highlightedGroups]="highlightedGroups"
    [canEdit]="canEdit"
    (changed)="onTeamsChanged($event)"
    (click)="$event.stopPropagation()"
  ></teams-groups-editor>
  <br/>
  <div>Latest status:<br/><em>Changed names are now visible in the rest of the application, and stored in browser for next time</em></div>
  <br/>
  <div>To come:<br/><em>Key info about the selected team</em></div>
  <!-- <div>
    <h3>Page debug</h3>
    <div>
      <table>
        <tr><td>All teams:</td><td>{{ teams }}</td></tr> 
        <tr>Groups</tr>
        <tr *ngFor="let group of teamGroups | keyvalue">
          <td>{{ group.key }} </td><td> {{ group.value }} </td>
        </tr>
      </table>
    </div>
  </div>   -->
</div>
