<div id="team-section" (click)="onEditorBackgroundClick()">
  <!-- <h2>Old List</h2>
  <div class="team-list">
    <ul>
      <li *ngFor="let team of teams">{{ team }}</li>
    </ul>
  </div> -->
  <h2>New Team list</h2>
  <teams-groups-editor
    [teams]="teams"
    [teamGroups]="teamGroups"
    [highlightedTeamIds]="highlightedTeamIds"
    [highlightedGroupIds]="highlightedGroupIds"
    (changed)="onTeamsChanged($event)"

    (OBSOLETE_teamSelected)="OBSOLETE_onTeamSelected($event)"
    (OBSOLETE_groupSelected)="OBSOLETE_onGroupSelected($event)"
    (OBSOLETE_addTeam)="OBSOLETE_onAddTeam()"
    (OBSOLETE_renameTeam)="OBSOLETE_onRenameTeam($event)"
    (OBSOLETE_deleteTeam)="OBSOLETE_onDeleteTeam($event)"
    (OBSOLETE_addGroup)="OBSOLETE_onAddGroup()"
    (OBSOLETE_renameGroup)="OBSOLETE_onRenameGroup($event)"
    (OBSOLETE_deleteGroup)="OBSOLETE_onDeleteGroup($event)"
    (click)="$event.stopPropagation()"
  ></teams-groups-editor>

  <div>
    <h3>Page debug</h3>
    <div>
      <table>
        <tr><td>All teams:</td><td>{{ teams }}</td></tr> 
        <tr>Groups</tr>
        <tr *ngFor="let group of teamGroups | keyvalue">
          <td>{{ group.key }} </td><td> {{ group.value }} </td>
        </tr>
      </table>
    </div>
  </div>  
</div>
